/*
* author gfy
* date 18-9-25
* 功能 tabbar组件
*/

a{
  text-decoration: none;
}

.weui-tabbar{
  position: absolute;
  bottom: 0;
  width:100%;
  display: flex;
  z-index:500;
  background-color: #f7f7fa;
}

.weui-tabbar__item{
  flex:1;
  text-align: center;
  /* 顺时针 */
  padding: 5px 0 0;
  font-size: 0;
  color: #808080;

}
.weui-tabbar__item>span{
  display: inline-block;
  position: relative;
}
.weui-tabbar__icon{
  display: inline-block;
  width: 27px;
  height: 27px;
}
.weui-badge{
  display:inline-block;
  position: absolute;
  top: -2px;
  right: -13px;
  min-width: 8px;
  padding: .15em .4em;
  font-size: 12px;
  line-height: 12px;
  background-color: #f43539;
  border-radius: 18px;
  color:#ffffff;
}

.weui-tabbar__label{
  font-size:10px;
  color:#808080;
  text-align: center;
  line-height: 1.8;
}