/* 10rem 任何手机宽度
1rem = 1/10 宽度 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

html,body{
  height: 100%;
}

.html_content, .item-section{
  height: 100%;
}
.item-section{
  background-color: red;
  position: relative;
}
.item-section_header img{
  width: 10rem;
}
ul,li{
  list-style: none;
}
.item-section ul{
  padding: 0.133333rem;
}
.flag{
  display: table;
  width: 100%;
  margin-bottom: 1px;
  background: white;
}
.flag .flag-item{
  display: table-cell;
  padding: 0.16rem 0;
  vertical-align: top;
  background: white;
}
.flag .flag-item.figure{
  width: 2.34667rem;
  height: 2.34667rem;
}
.flag .flag-item.figure img{
  max-width: 100%;
}

.flag .figcaption{
  padding:0.16rem 0.213333rem;
}

.flag .flag-title a{
  color:black;
  font-size: 0.23333rem;
}

.flag .flag-price{
  margin:6px 0px;
  /* height:; */
}

.flag .flag-price .flag-price__11logo{
  display: inline-block;
  background-color: #f32a4c;
  color:white;
  padding:0 3px;
  font-weight: bold;
}